<h2>Formación académica</h2>
<main>
  <article>
    <header>
      <h4>2018-2019</h4>
      <span>Tecnológico de Costa Rica</span>
      <h3>Ingeniería en Computación</h3>
    </header>
    <div></div>

  </article>
  <article>
    <header>
      <h4>2021-2024</h4>
      <span>Universidad de Costa Rica</span>
      <h3>Informática Empresarial</h3>
    </header>
    <div></div>
  </article>
</main>
<h2>Experiencia Laboral</h2>
<main>
  <article>
    <header>
      <h4>2020</h4>
      <span>Freelancer.com</span>
      <h3>Desarrollador Freelance</h3>
    </header>
    <div></div>

  </article>
  <article>
    <header>
      <h4>2024</h4>
      <span>Autónomo</span>
      <h3>Desarrollador Fullstack</h3>
    </header>
    <div></div>
  </article>
</main>
