<main>
    <div class='card card1'>
        <div class='info info1'>
            <h1 class='title'>Página web academia</h1>
            <p class='description'>Página web para una academia de ajedrez, desarrollada con HTML y CSS. La página
                cuenta con una barra de navegación siempre fija en la parte superior. Cuenta con distintas secciones
                como servicios, academias, etc... <a href="https://github.com/LuisFerRodVar/Pagina-asf"
                    target="_blank">Ver código fuente</a> </p>
        </div>
    </div>
    <div class='card card2'>
        <div class='info info2'>
            <h1 class='title'>API para un blog</h1>
            <p class='description'>Esta API fue desarrollada en el entorno de Nodejs con el framework Expressjs, esta
                API maneja las operaciones básicas de un blog, es decir, agregar artículos, editar artículos, eliminar
                artículos y obtener artículos ya sea uno en específico o listarlos a todos. Los artículos son guardados
                en una base de datos de MongoDB, para facilitar estas operaciones usé Mongoose. <a
                    href="https://github.com/LuisFerRodVar/Simple-Blog-Backend" target="_blank">Ver código fuente</a>
            </p>
        </div>
    </div>
    <div class='card card3'>
        <div class='info info3'>
            <h1 class='title'>Gestor de horarios</h1>
            <p class='description'>Este sistema permite manejar horarios de instituciones educativas tomando en cuenta
                aulas, profesores y grupos asignados. Básicamente permite que los profesores inicien sesión (las cuentas
                deben ser previamente creadas por el administrador del sistema) y una vez dentro del sistema pueden
                elegir el horario y el aula que prefieran, el sistema verifica que no hayan conflictos y realiza la
                asignación. La API está desarrollada en .NETCore y utiliza una base de datos de SqlServer. La parte del
                frontend está desarrollada en React. <a href="https://github.com/LuisFerRodVar/ServidorGestorHorarios"
                    target="_blank">Ver backend</a><a href="https://github.com/LuisFerRodVar/ClienteGestorHorarios"
                    target="_blank">Ver fronted</a></p>
        </div>
    </div>
</main>