<section>
  <main>
    <header>
      <h1>¿Quién soy?</h1>
    </header>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex eaque corporis
      officia, dolore unde autem non repudiandae quas esse quo dicta mollitia quia
      asperiores ad officiis facilis, fugiat, expedita quam!
    </p>
    <div>
      <img />
    </div>
    <ul>
      <li><span>Edad: </span> lorem</li>
      <li><span>Edad: </span> lorem</li>
      <li><span>Edad: </span> lorem</li>
      <li><span>Edad: </span> lorem</li>
      <li><span>Edad: </span> lorem</li>
    </ul>
    <h2>¿Qué hago?</h2>
    <article>
      <i class="fa-solid fa-computer"></i>
      <h3>Desarrollo fullstack</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus
        sed aspernatur consectetur quidem illum reiciendis distinctio quas fugit
        deserunt assumenda similique modi optio quae labore quis, sit, nisi,
        facilis et.
      </p>
    </article>
    <article>

      <i class="fa-solid fa-server"></i>
      <h3>Desarrollo backend</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus
        sed aspernatur consectetur quidem illum reiciendis distinctio quas fugit
        deserunt assumenda similique modi optio quae labore quis, sit, nisi,
        facilis et.
      </p>
    </article>
  </main>

</section>
