<section>
  <main>
    <header>
      <h1>¿Quién <span>soy?</span></h1>
    </header>
    <p>
      Desarrollador full-stack apasionado por la creación de soluciones web integrales. Experto tanto en el diseño de
      interfaces atractivas como en la implementación robusta del back end. Esto me permite tener un enfoque versátil
      para abordar proyectos desde la concepción hasta la implementación, garantizando la excelencia en cada fase del
      desarrollo. Durante 2024 estaré trabajando como desarrollador freelance.
    </p>
    <app-personal-data></app-personal-data>
    <app-capacities></app-capacities>
    <app-prices></app-prices>
  </main>

</section>
