<h2>Precios</h2>
<div>
  <article>
    <h3>Básico</h3>
    <h4>200$*</h4>
    <ul>
      <li>Diseño responsivo</li>
      <li>Interfaz intuitiva</li>
      <li>Navegación sencilla</li>
    </ul>
    <button routerLink="/contact">Cotizar</button>
  </article>
  <article>
    <h3>Completo</h3>
    <h4>1000$*</h4>
    <ul>
      <li>Todo lo anterior</li>
      <li>Acceso a base de datos</li>
      <li>Soporte de APIs</li>
    </ul>
    <button routerLink="/contact">Cotizar</button>
  </article>
</div>
