<h2>Precios</h2>
<div>
  <article>
    <h3>Sólo frontend</h3>
    <h4>500$*</h4>
    <ul>
      <li>Diseño responsivo</li>
      <li>Interfaz intuitiva</li>
      <li>Navegación sencilla</li>
      <li>Accesibilidad</li>
      <li>Paquete enfocado en diseño</li>
      <li>Ideal para mostrar su negocio</li>
    </ul>
    <button routerLink="/contact">Cotizar</button>
  </article>
  <article>
    <h3>Interfaz simple con backend</h3>
    <h4>600$*</h4>
    <ul>
      <li>Soporte de APIs</li>
      <li>Seguridad robusta</li>
      <li>Alta disponibilidad</li>
      <li>Interfaz simple</li>
      <li>Paquete enfocado en funcionalidades</li>
      <li>Ideal para sistemas de cajas</li>
    </ul>
    <button routerLink="/contact">Cotizar</button>
  </article>
  <article>
    <h3>Completo</h3>
    <h4>1000$*</h4>
    <ul>
      <li>Todo lo anterior</li>
      <li>Ideal para sistemas completos</li>
      <li>Soporte de pagos integrados</li>
      <li>Paquete enfocado en brindar una aplicación completa</li>
      <li>Ideal para tiendas en línea</li>
      <li>3 meses de soporte gratis</li>
    </ul>
    <button routerLink="/contact">Cotizar</button>
  </article>
</div>
<small>*Los precios son representativos y variarán dependiendo del tamaño del proyecto, también deberá de pagar un 40% del precio final como adelanto</small>
