
nav{
  display: flex;
  height: 100%;
  justify-content: center;
  flex-wrap: wrap;
  background-color: var(--color_primary);
  border-radius: 3rem 3rem 0 0;
  border: 1px solid var(--color_detail);
  border-bottom: none;
}
a{
  line-height: 3rem;
}
ul{
  width: 100%;
  height: 100%;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

span {
  position: absolute;
  font-size: 1.6rem;
  bottom: -10px;
  color: var(--color_secondary);
  left: -1px;
  width: 100%;
  opacity: 0;
  background: var(--color_primary);
  z-index: 999;
  transition: all 300ms ease-in-out;
  pointer-events: none;
}
i{
  display: block;
  color: var(--color_icon);
  height: 100%;
  font-size: 3rem;
  transition: all 300ms ease-in-out;
  position: relative;
  z-index: 2;
}

.active>i{
  color: var(--color_secondary);
}


li{
  flex: 1;
  position: relative;
  display: flex;
  padding: 1rem;
  flex-direction: column;
  text-align: center;
}
li:first-child{
  border-top-left-radius: 3rem;
}
li:nth-child(6){
  border-top-right-radius: 3rem;
}

div{
  background: var(--color_primary);
  width: calc(100%/6);
  height: calc(10% - 1.3rem);
  position: absolute;
  top: 0;
  z-index: 1;
  transition: all 300ms ease-in-out;
}

li:hover>span{
  opacity: 1;
  transform: translateY(2rem);
}
.active> a i{
  color: var(--color_secondary);
}

.active:nth-child(1) ~ div {
  border-top-left-radius: 3rem;
  left: 0%;
}

.active:nth-child(2) ~ div {
  left: calc(100%/6);
}

.active:nth-child(3) ~ div {
  left: calc((100%/6) * 2);
}

.active:nth-child(4) ~ div {
  left: calc((100%/6) * 3);
}

.active:nth-child(5) ~ div {
  left: calc((100%/6) * 4);
}

.active:nth-child(6) ~ div {
  border-top-right-radius: 3rem;
  left: calc((100%/6) * 5);
}
