<nav>
  <ul>
    <li class="list" routerLink="/home" routerLinkActive="active">
      <a>
        <i class="fa-solid fa-house-chimney"></i>
        <span>Home </span>
      </a>
    </li>

    <li class="list" routerLink="/about" routerLinkActive="active">
      <a>
        <i class="fa-solid fa-user-tie"></i>
        <span class="text">Profile </span>
      </a>
    </li>

    <li class="list" routerLink="/resume" routerLinkActive="active">
      <a>
        <i class="fa-solid fa-graduation-cap"></i>
        <span class="text">Curriculum </span>
      </a>
    </li>

    <li class="list" routerLink="/portfolio" routerLinkActive="active">
      <a>
        <i class="fa-solid fa-briefcase"></i>
        <span class="text">Portafolio </span>
      </a>
    </li>

    <li class="list" routerLink="/blog" routerLinkActive="active">
      <a>
        <i class="fa-solid fa-book-bookmark"></i>
        <span class="text">Blog </span>
      </a>
    </li>

    <li class="list" routerLink="/contact" routerLinkActive="active">
      <a>
        <i class="fa-solid fa-envelope"></i>
        <span class="text">Contacto </span>
      </a>
    </li>

    <div></div>
  </ul>
</nav>
