<nav>
  <ul>
    <li class="list" routerLink="/home" routerLinkActive="active">
      <a>
        <i class="fa-solid fa-house-chimney"></i>
      </a>
      <span>Inicio</span>
    </li>

    <li class="list" routerLink="/about" routerLinkActive="active">
      <a>
        <i class="fa-solid fa-user-tie"></i>
      </a>
      <span>Sobre mi</span>
    </li>

    <li class="list" routerLink="/resume" routerLinkActive="active">
      <a>
        <i class="fa-solid fa-graduation-cap"></i>
      </a>
      <span>Curriculum</span>
    </li>

    <li class="list" routerLink="/portfolio" routerLinkActive="active">
      <a>
        <i class="fa-solid fa-briefcase"></i>
      </a>
      <span>Portafolio</span>
    </li>

    <li class="list" routerLink="/blog" routerLinkActive="active">
      <a>
        <i class="fa-solid fa-book-bookmark"></i>
      </a>
      <span>Blog</span>
    </li>

    <li class="list" routerLink="/contact" routerLinkActive="active">
      <a>
        <i class="fa-solid fa-envelope"></i>
      </a>
      <span>Contacto</span>
    </li>
    <div></div>

  </ul>
</nav>
