<h2>Principales tecnologías dominadas</h2>
<aside>
  <article>
    <h3>Frontend</h3>
    <div>
      <i class="devicon-html5-plain "></i>
      <span>HTML5</span>
    </div>
    <div>
      <i class="devicon-css3-plain "></i>
      <span>CSS3</span>
    </div>
    <div>
      <i class="devicon-javascript-plain "></i>
      <span>Javascript</span>
    </div>
    <div>
      <i class="devicon-react-original "></i>
      <span>React</span>
    </div>
    <div>
      <i class="devicon-angularjs-plain "></i>
      <span>Angular</span>
    </div>
    <div>
      <i class="devicon-flutter-plain "></i>
      <span>Flutter</span>
    </div>
  </article>
  <article>
    <h3>Backend</h3>
    <div>
      <i class="devicon-dotnetcore-plain "></i>
      <span>.NetCore</span>
    </div>
    <div>
      <i class="devicon-django-plain "></i>
      <span>Django</span>
    </div>
    <div>
      <i class="devicon-spring-original "></i>
      <span>Spring</span>
    </div>
    <div>
      <i class="devicon-express-original "></i>
      <span>Express.js</span>
    </div>
    <div>
      <i class="devicon-nodejs-plain"></i>
      <span>Node.js</span>
    </div>
  </article>
  <article>
    <h3>Bases de datos</h3>
    <div>
      <i class="devicon-microsoftsqlserver-plain "></i>
      <span>SQLServer</span>
    </div>
    <div>
      <i class="devicon-postgresql-plain "></i>
      <span>PostgreSQL</span>
    </div>
    <div>
      <i class="devicon-firebase-plain "></i>
      <span>Firebase</span>
    </div>
    <div>
      <i class="devicon-mongodb-plain "></i>
      <span>MongoDB</span>
    </div>
  </article>

</aside>
