figure{
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
}
div{
  flex-basis: 50%;
  align-self: flex-end;
}
img{
  box-shadow: 1px 10px 15px rgba(0, 0, 0, 0.15);
  margin: 0 auto;
  width: 50%;
  border-radius: 2rem;

  border: 1px solid var(--color_detail3);
}
ul{
  font-size: 1.6rem;
}

li{
  margin: 1.5rem;
}
span{
  text-align: left;
  font-weight: bold;
  color: var(--color_secondary);
}

@media (max-width: 780px){
  figure{
    flex-direction: column;
  }
}
