<div class="blog-card">
  <div class="meta">
    <div class="photo"
      style="background-image: url(../../../assets/img/article-1.jpg)"></div>
    <ul class="details">
      <li class="author"><a>LuisFer</a></li>
      <li class="date">02/02/2024</li>
      <li class="tags">
        <ul>
          <li><a>Git</a></li>
          <li><a>Desarrollo</a></li>
          <li><a>Tutorial</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="description">
    <h1>Tutorial de Git básico</h1>
    <h2>Aprende sobre control de versiones</h2>
    <p>Git es el sistema de control de versiones por excelencia. Desde su lanzamiento en 2007 ha sabido imponerse sobre
      las demás alternativas y actualmente es una herramienta muy importante para los desarrolladores.</p>
    <p class="read-more">
      <a routerLink="/blog/1">Leer más</a>
    </p>
  </div>
</div>
