form{
    font-size: 2rem;
    gap: 1rem;
    margin-left: 3rem;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;
    transition: all 300ms ease-in-out;
}
form::after{
    position: absolute;
    z-index: -2;
    content: "";
    background-color: var(--color_detail);
    width: 100%;
    height: 40%;
    top: 0;
    border-radius: 1rem     ;
}
form::before{
    position: absolute;
    z-index: -1;
    content: "";
    background-color: var(--color_primary);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    top: 10%;
}
input{
    outline: none;
    border: 1px solid var(--color_secondary);
    width: 50%;
    height: 7%;
    border-radius: 1rem;
}
textarea{
    width: 50%;
    height: 30%;
    border-radius: 1rem;
    border: 1px solid var(--color_secondary);
    resize: none;
    outline: none;

}

.btn{
    background-color: var(--color_detail);
    transition: all 300ms ease-in-out;
    border: 1px solid var(--color_detail);
}
.btn:hover{
    background-color: var(--color_secondary);
    color: var(--color_primary);
}
input:focus{
    border: 1px solid var(--color_secondary);
}
@media (max-width: 700px){

  form{
    margin-left: 0;
  }
}
