<article>
    <ul>
        <li>
            <header>
                <i class="fa-solid fa-envelope"></i>
                <span>LuisFerRodVar&#64;gmail.com</span>
            </header>
        </li>
        <li>
            <header>
                <i class="fa-solid fa-map-marker"></i>
                <span>Golfito</span>
            </header>
        </li>
        <li>
            <header>
                <i class="fa-solid fa-handshake"></i>
                <span>Desarrollador freelance</span>
            </header>
        </li>
        <li>
            <header>
                <i class="fa-solid fa-question-circle"></i>
                <span>Consule sin compromiso</span>
            </header>

        </li>
    </ul>
    <div>
        <a href="https://twitter.com/LuisFerRodVar" target="_blank">
            <i class="fa-brands fa-twitter"></i>
        </a>
        <a href="https://www.linkedin.com/in/luis-fernando-rodr%C3%ADguez-vargas-449221279/" target="_blank">
            <i class="fa-brands fa-linkedin"></i>
        </a>
        <a href="https://github.com/LuisFerRodVar" target="_blank">
            <i class="fa-brands fa-github"></i>
        </a>
    </div>

</article>