
main{
  height: 90%;
  width: 80%;
  position: absolute;
  top: 5%;
  left: 10%;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  flex-wrap: wrap;
}
app-navbar{
  flex-basis: 10%;
  width: 100%;
}
app-layout{
  flex-basis: 90%;
}
