
main{
  height: 90%;
  width: 80%;
  position: absolute;
  top: 5%;
  left: 10%;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}
app-navbar{
  flex-basis: 8%;
  width: 100%;
}
section{
  flex-basis: 92%;
  width: 100%;
}

