<h2>¿Qué puedo <span>hacer?</span></h2>
<ul>
  <li>
    <article>
      <i class="fa-solid fa-globe"></i>
      <h3>Front end</h3>
      <p>
        Mi experiencia abarca el dominio de tecnologías clave como React, Angular, HTML/CSS y JavaScript. Con un sólido
        conocimiento en la creación de interfaces de usuario atractivas y funcionales, me enorgullece contribuir al
        diseño y la experiencia del usuario en proyectos web. Me gusta seguir explorando y aplicando las últimas
        tendencias y mejores prácticas en el mundo del desarrollo front end.
      </p>
    </article>
  </li>
  <li>
    <article>
      <i class="fa-solid fa-server"></i>
      <h3>Back end</h3>
      <p>
        En este apartado mi experiencia abarca el dominio de distintos frameworks
        potentes como ASP.NET, Django y Spring Boot, contribuyendo a la creación de
        sistemas robustos y eficientes. También manejo diversas bases
        de datos, incluyendo SQL Server, Firebase, MongoDB y PostgreSQL. Este conjunto
        de habilidades me permite abordar proyectos de manera integral, desde la
        interfaz de usuario hasta la arquitectura del servidor, garantizando soluciones
        completas y eficaces.
      </p>
    </article>
  </li>
  <li>
    <article>
      <i class="fa-solid fa-navicon"></i>
      <h3>Front end</h3>
      <p>
        Mi experiencia abarca el dominio de tecnologías clave como React, Angular, HTML/CSS y JavaScript. Con un sólido
        conocimiento en la creación de interfaces de usuario atractivas y funcionales, me enorgullece contribuir al
        diseño y la experiencia del usuario en proyectos web. Me gusta seguir explorando y aplicando las últimas
        tendencias y mejores prácticas en el mundo del desarrollo front end.
      </p>
    </article>
  </li>
  <li>
    <article>
      <i class="fa-solid fa-navicon"></i>
      <h3>Front end</h3>
      <p>
        Mi experiencia abarca el dominio de tecnologías clave como React, Angular, HTML/CSS y JavaScript. Con un sólido
        conocimiento en la creación de interfaces de usuario atractivas y funcionales, me enorgullece contribuir al
        diseño y la experiencia del usuario en proyectos web. Me gusta seguir explorando y aplicando las últimas
        tendencias y mejores prácticas en el mundo del desarrollo front end.
      </p>
    </article>
  </li>
  <li>
    <article>
      <i class="fa-solid fa-navicon"></i>
      <h3>Front end</h3>
      <p>
        Mi experiencia abarca el dominio de tecnologías clave como React, Angular, HTML/CSS y JavaScript. Con un sólido
        conocimiento en la creación de interfaces de usuario atractivas y funcionales, me enorgullece contribuir al
        diseño y la experiencia del usuario en proyectos web. Me gusta seguir explorando y aplicando las últimas
        tendencias y mejores prácticas en el mundo del desarrollo front end.
      </p>
    </article>
  </li>
  <li>
    <article>
      <i class="fa-solid fa-navicon"></i>
      <h3>Front end</h3>
      <p>
        Mi experiencia abarca el dominio de tecnologías clave como React, Angular, HTML/CSS y JavaScript. Con un sólido
        conocimiento en la creación de interfaces de usuario atractivas y funcionales, me enorgullece contribuir al
        diseño y la experiencia del usuario en proyectos web. Me gusta seguir explorando y aplicando las últimas
        tendencias y mejores prácticas en el mundo del desarrollo front end.
      </p>
    </article>
  </li>
</ul>
