h2{
  font-size: 2.5rem;
  margin: 2rem;
  margin-left: 0;
}
span{
  color: var(--color_secondary);
}
ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  font-size: 1.6rem;
}
li{
  flex-basis: calc(33% - 3rem);
  text-align: justify;
}
@media (max-width: 750px){
  li{
    flex-basis: calc(50% - 3rem);
  }
}
@media (max-width: 580px){
  li{
    flex-basis: 100%;
  }
}
i{
  font-size: 3rem;
  color: var(--color_secondary);
}
