<h2>¿Qué puedo <span>hacer?</span></h2>
<ul>
  <li>
    <article>
      <i class="fa-solid fa-globe"></i>
      <h3>Front end</h3>
      <p>
        Mi experiencia abarca el dominio de tecnologías clave como React, Angular, HTML/CSS y JavaScript. Con un sólido
        conocimiento en la creación de interfaces de usuario atractivas y funcionales, me enorgullece contribuir al
        diseño y la experiencia del usuario en proyectos web. Me gusta seguir explorando y aplicando las últimas
        tendencias y mejores prácticas en el mundo del desarrollo front end.
      </p>
    </article>
  </li>
  <li>
    <article>
      <i class="fa-solid fa-server"></i>
      <h3>Back end</h3>
      <p>
        En este apartado mi experiencia abarca el dominio de distintos frameworks
        potentes como ASP.NET, Django y Spring Boot, contribuyendo a la creación de
        sistemas robustos y eficientes. También manejo diversas bases
        de datos, incluyendo SQL Server, Firebase, MongoDB y PostgreSQL. Este conjunto
        de habilidades me permite abordar proyectos de manera integral, desde la
        interfaz de usuario hasta la arquitectura del servidor, garantizando soluciones
        completas y eficaces.
      </p>
    </article>
  </li>
  <li>
    <article>
      <i class="fa-solid fa-code"></i>
      <h3>Programas de escritorio</h3>
      <p>
        Poseo la habilidad de desarrollar programas de escritorio, creando soluciones eficientes y funcionales. Mi
        experiencia incluye el uso de lenguajes como Java, C#, C++ y Flutter permitiéndome diseñar aplicaciones de
        escritorio que satisfacen las necesidades específicas de los usuarios. Con un enfoque orientado a la usabilidad
        y el rendimiento.
      </p>
    </article>
  </li>
  <li>
    <article>
      <i class="fa-solid fa-gamepad"></i>
      <h3>Desarrollo de videojuegos</h3>
      <p>
        Soy capaz de desarrollar juegos multiplataforma, tanto en 2D como en 3D,
        utilizando la potente plataforma Godot. Mi enfoque creativo y técnico se traduce
        en la creación de experiencias de juego envolventes y versátiles, adaptadas a
        diversas plataformas.
      </p>
    </article>
  </li>
  <li>
    <article>
      <i class="fa-solid fa-mobile"></i>
      <h3>Desarrollo de aplicaciones móviles</h3>
      <p>
        Tengo experiencia en el desarrollo de aplicaciones móviles utilizando Flutter,
        combinando una interfaz atractiva con un rendimiento óptimo. Además, puedo
        integrar estas aplicaciones con Firebase, aprovechando sus servicios para
        potenciar la funcionalidad y la eficiencia. Mi enfoque es crear experiencias
        móviles fluidas y conectadas, proporcionando soluciones completas y eficaces
        para las necesidades del usuario.
      </p>
    </article>
  </li>
  <li>
    <article>
      <i class="fa-solid fa-chalkboard-user"></i>
      <h3>Tutorías</h3>
      <p>
        Ofrezco tutorías personalizadas para aquellos que desean adentrarse en el mundo
        de la programación. Ya sea para estudiantes o cualquier persona interesada, mi
        enfoque es adaptar las lecciones a las necesidades individuales, proporcionando
        un aprendizaje efectivo y personalizado. Con más de 7 años de experiencia en
        el campo, estoy comprometido a guiar a mis alumnos a través del proceso de
        aprendizaje de programación de manera accesible y amena.
      </p>
    </article>
  </li>
</ul>