@font-face {
  font-family: "Mulish";
  src: url("./Mulish-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face{
  font-family: 'Mulish';
  src: url('./Mulish-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face{
  font-family: 'Mulish';
  src: url('./Mulish-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Mulish';
  src: url("./Mulish-Italic.ttf") format('truetype');
  font-weight: normal;
  font-style: italic;

}
